{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{parent() }}
    <link href="{{asset('biblio/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{asset('biblio/materialize/css/materialize.min.css') }}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset('web/bundles/css/style.css')}} ">
                    <!-- Custom styles for this template -->
                    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
                    {% endblock %}

                    {% block javascript %}
                        <script src="{{ asset('biblio/bootstrap/js/bootstrap.min.js') }}"></script>
                        <script src="{{ asset('biblio/materialize/js/materialize.min.js') }}"></script>
                        <script src="{{ asset('biblio/bootstrap/popper.min.js') }}"></script>
                        <script src="{{ asset('biblio/jquery/jquery.min.js') }}"></script>
                    {% endblock %}

                    {% block body %}

                        <div class="container">
                            <header class="blog-header py-3">
                                <div class="row flex-nowrap justify-content-between align-items-center">
                                    <div class="col-4 pt-1">
                                        <a class="text-muted" href="#">Accueil</a>
                                    </div>
                                    <div class="col-4 text-center">
                                        <a class="blog-header-logo text-dark" href="#">Article</a>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end align-items-center">
                                        <a class="text-muted" href="#"> </a>
                                        <a class="btn btn-sm btn-outline-secondary" href="{{ url('fos_user_security_login') }}">Se connecter</a>
                                    </div>
                                </div>
                            </header>






                            <!--   Corp de page (début)   -->
                            <main role="main" class="container">
                                {% set types = { 'danger':'ban','info':'info','warning':'warning','success':'check' }%}
                                {% for type, messages in app.session.flashbag.all %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{type}} alert-dismissable">
                                            <i class="fa fa-{{types[type]|default('bell-o')}}"></i>&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <span>{{ message }}</span>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% block main %}

                                {% endblock %}
                            </main>
                            <!--   Corp de page (début)   -->

                            <!--   peid de page (début)   -->
                            <footer class="text-muted">
                                <div class="container">
                                    <p class="float-right">
                                        <a href="#">Revenir en de la page</a>
                                    </p>
                                    <p> &copy; Rodolphe!</p>
                                    
                                    <a href="https://google.com/" class='btn'>Google</a>
                                    <a href="https://opera.com" class='btn'>Opera</a>
                                    <a href="https://definima.com/" class='btn'>DEFINIMA</a>
                                    <a href="https://ifpa.pro" class='btn'>IFPA</a>
                                </div>
                            </footer>
                            </html>
                            <!--   peid de page (fin)   -->
                        {% endblock %}
