{%  extends "AppBundle::layout.html.twig" %}

{% block main %}


    <h1 style="text-align: center">Contact</h1>

    <div class="row">
        {{ form_start(form) }}
        
            
                <div>
                    {{ form_label(form.nom) }}
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>

                <div>
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div>
                    {{ form_label(form.sujet) }}
                    {{ form_errors(form.sujet) }}
                    {{ form_widget(form.sujet) }}
                </div>

                <div>
                    {{ form_label(form.commentaire) }}
                    {{ form_errors(form.commentaire) }}
                    {{ form_widget(form.commentaire) }}
                </div>
                <div>
                    <input type='submit' value='Envoyer'>
                    
                </div>

                     
      {{ form_end(form) }}

    </div>


{% endblock %}